@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.squircle {
  corner-shape: squircle;
}

h1,
h2,
h3,
p,
small {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  letter-spacing: -0.05em;
  line-height: 110%;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: normal;
}

p {
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 150%;
  font-weight: normal;
}

small {
  display: block;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 80%;
}

.caption {
  font-size: 12px;
  letter-spacing: -0.02em;
}

svg {
  vector-effect: non-scaling-stroke;
}
