.cardshover-root * {
  cursor: none !important;
  text-rendering: geometricPrecision;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardshover-root {
  --initial: #fff;
  --animate1: #0047ff; /* blue */
  --animate2: #9e00ff; /* purple */
  --animate3: #eb2323; /* red */
  --animate4: #00ba61; /* green */
  --animate5: #c3b000; /* yellow */
  --animate6: #d85b00; /* orange */
}

.cardshover-root {
  background:
    radial-gradient(
      73% 101% at 95.54% 95.05%,
      rgba(255, 156, 65, 0.78) 0%,
      rgba(255, 168, 88, 0) 100%
    ),
    linear-gradient(
      197deg,
      rgba(255, 240, 164, 1) 0%,
      rgba(255, 240, 164, 0) 100%
    ),
    radial-gradient(
      59% 74% at 10% -10%,
      rgba(49, 132, 255, 0.8) 0%,
      rgba(56, 75, 246, 0.21) 52%,
      rgba(62, 246, 246, 0) 100%
    ),
    linear-gradient(
      143deg,
      rgba(62, 158, 246, 1) 0%,
      rgba(238, 43, 183, 0.33) 30%,
      rgba(246, 62, 106, 0) 56%
    ),
    linear-gradient(
      288deg,
      rgba(217, 155, 255, 1) 33%,
      rgba(217, 170, 221, 0) 97%
    );
  /* background-blend-mode: , , , , ; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardshover-root .cursor-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 99;
}

.cardshover-root .cursor {
  min-width: 8px;
  min-height: 8px;
  background-color: var(--initial);
  border-radius: 50%;
  transition: 0.4s;
}

.cardshover-root .content {
  width: 100%;
  max-width: 900px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.cardshover-root .cards {
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  overflow: hidden;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  /* transform: translateZ(0); */
}

.cardshover-root .card {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 250px;
  min-width: 224px;
  padding: 32px;
  margin: 0;
  flex-flow: column;
  justify-content: space-between;
  flex: 1 1 0%;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition:
    scale 0.15s,
    border 0.2s ease-in,
    background-color 0.8s;
}

@media screen and (min-width: 914px) {
  .cardshover-root .card:nth-child(1),
  .cardshover-root .card:nth-child(2),
  .cardshover-root .card:nth-child(3) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .cardshover-root .card:nth-child(1),
  .cardshover-root .card:nth-child(2),
  .cardshover-root .card:nth-child(4),
  .cardshover-root .card:nth-child(5) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 913px) and (min-width: 615px) {
  .cardshover-root .card:nth-child(1),
  .cardshover-root .card:nth-child(2),
  .cardshover-root .card:nth-child(3),
  .cardshover-root .card:nth-child(4) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .cardshover-root .card:nth-child(1),
  .cardshover-root .card:nth-child(3),
  .cardshover-root .card:nth-child(5) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 614px) {
  .cardshover-root .content {
    padding: 24px 24px;
  }
  .cardshover-root .card:nth-child(1),
  .cardshover-root .card:nth-child(2),
  .cardshover-root .card:nth-child(3),
  .cardshover-root .card:nth-child(4),
  .cardshover-root .card:nth-child(5) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.cardshover-root .card > * {
  pointer-events: none;
}

.cardshover-root .inner-shadow {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  mix-blend-mode: plus-lighter;
}

.cardshover-root .cursor-blur-wrapper {
  position: absolute;
  left: -50%;
  top: -50%;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.cardshover-root .cursor-blur {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--initial);
}

.cardshover-root h1 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 56px;
  color: rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.cardshover-root .card:hover h1 {
  color: rgba(0, 0, 0, 1);
}

.cardshover-root p {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.03em;
  text-wrap: pretty;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}
.cardshover-root .card:hover p {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

/* cursor-effects */
.cardshover-root .cursor-blur {
  background-color: var(--initial);
  transform: scale(0);
  filter: blur(20px);
  transition:
    transform 0.5s ease-out,
    background-color 0.2s ease-in;
}
.cardshover-root .card:hover .cursor-blur {
  transform: scale(2.5);
  transition:
    transform 1s,
    background-color 0.2s ease-in;
}

.cardshover-root .inner-shadow {
  box-shadow: inset 0 0 25px -50px;
  color: var(--initial);
  transition:
    box-shadow 1s,
    color 0.2s ease-out;
}

.cardshover-root .card:hover .inner-shadow {
  box-shadow: inset 0 0 50px 100px;
}
